[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad
	branch = glad2
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
